//Colors
$primary: #3a9acd !default;
$secondary: #ff773f !default;
$warning: #ff773f !default;
$success: #33ca62 !default;
$error: #e83b35 !default;

$border-radius: 3px !default;
$states: (
  ('primary', $primary, #ffffff),
  ('secondary', $secondary, #ffffff),
  ('warning', $warning, #ffffff),
  ('success', $success, #ffffff),
  ('error', $error, #ffffff)
);
